<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >Listado Wifi</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <img src="assets/imgs/Fichados.png">
  </div>

  <ion-content>
      <ion-list>
         <ion-item>      <!-- <ion-item *ngFor="let x of networks" -->
             <ion-avatar item-start>
              <img src="assets/icon/favicon.ico">
             </ion-avatar >
            <ion-input value="Redes encontradas: {{networksString.length}}"></ion-input>  <!--  {{networksWifi[1].SSID}} -->
          </ion-item>
          
          <ion-item *ngFor="let x of networksString">      <!-- <ion-item *ngFor="let x of networks" -->
            <ion-avatar item-start>
             <img src="assets/icon/favicon.ico">
            </ion-avatar >
           <ion-input value={{x}}></ion-input>  <!--  {{networksWifi[1].SSID}} -->
         </ion-item>

        </ion-list>
  </ion-content>


  <button ion-button color="secondary" block menuToggle> Iniciar </button>
  <button ion-button color="danger" block >Cancelar</button>
</ion-content>