<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >Histórico</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id= "avatar">
      <img *ngIf="!this.usuario" width="80px" src="../../assets/imgs/logoF2.png">
      <img *ngIf="this.usuario" width="150px"  src={{this.miAvatar}} />
      <ion-textarea [(ngModel)]="this.usuario" readonly style="text-align-last: center;" ></ion-textarea>
      <ion-textarea *ngIf="!this.usuario" readonly style="text-align-last: center;" >No hay sesión iniciada</ion-textarea>
  </div>

  <div *ngIf="historico">
    <div *ngFor="let fecha of historico">
      <ion-card (click)='enviarCorreo(fecha)'>
        <ion-card-title text-center [ngClass]="(fecha.status == 'retraso') ? 'amarillo' : (fecha.status == 'presente') ? 'azul' : 'rojo'" >
          {{fecha.date}}
        </ion-card-title>
        <ion-card-content [ngClass]="(fecha.status == 'retraso') ? 'amarillo_claro' : (fecha.status == 'presente') ? 'azul_claro' : 'rojo_claro'">
          <b>Evento:&nbsp;&nbsp;&nbsp;&nbsp;</b> {{fecha.eventName}}
          <br>
          <b>Estado:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>{{fecha.status}}
          <br>
          <b>Mensaje:&nbsp;&nbsp;&nbsp;</b>{{fecha.comments}}
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
