historico {
    @import url('https://fonts.googleapis.com/css?family=Nunito|Ubuntu');
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Nunito', sans-serif;
    
    #avatar{
        text-align: center;
        margin-top: 10px;
        border-radius: 50%;
    }
    .azul{
        background: #0396A6;
        color: whitesmoke;
        font-size: 18pt;
    }
    .rojo{
        background: #c52165;
        color: whitesmoke;
        font-size: 18pt;
    }
    .amarillo {
        background:#FB8C00;
        color: whitesmoke;
        font-size: 18pt;
    }
    .azul_claro {
        background: #71DDE3;
        font-size: 14pt;
    }

    .amarillo_claro{        
        background: #EED21B;
        font-size: 14pt;
    }
    .rojo_claro {
        background: #FFBCEA;
        font-size: 14pt;
    }
}
