historico {
    #avatar{
        text-align: center;
        margin-top: 10px;
    }
    .azul{
        background: #42c2c26b;
        color: grey;
    
    }
    .texto_blanco{
        color: whitesmoke;
        font-size: 12pt;
    }
    

}
