historico {
    @import url('https://fonts.googleapis.com/css?family=Rokkitt');
    font-family: 'Rokkitt', serif;
    
    #avatar{
        text-align: center;
        margin-top: 10px;
    }
    .azul{
        background: #2f8a8a;
        color: whitesmoke;
        font-size: 18pt;
    }
    .rojo{
        background: #8a2f2f;
        color: whitesmoke;
        font-size: 18pt;
    }
    .amarillo {
        background: #ffa216;
        color: whitesmoke;
        font-size: 18pt;
    }
    .azul_claro {
        background: #b0f1f1;
        font-size: 14pt;
    }

    .amarillo_claro{        
        background: #f1eab0;
        font-size: 14pt;
    }
    .rojo_claro {
        background: #f1b0b0;
        font-size: 14pt;
    }
}