<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >Fichar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <br>
  <div class="avatar">
    <img *ngIf="!this.usuario" src="../../assets/imgs/Fichados.png" />
    <img *ngIf="this.usuario" src={{this.miAvatar}} />  <!--src="../../assets/imgs/acachonAvatar.png"-->
    <ion-textarea readonly style="text-align-last: center;" [(ngModel)]="this.usuario"></ion-textarea>
  </div>

  <br><br>
  <div>
    <ion-item>
      <ion-label item-start>Listado de wifispots</ion-label>
      <ion-select interface="popover" placeholder="wifi" [(ngModel)]="this.miWifiIndex">
          <ion-option *ngFor="let wifi of this.listadoWifis; let i=index" [value] = "i" 
          (ionSelect)="seleccionaWifi(wifi)">{{wifi}}</ion-option>
      </ion-select>
    </ion-item>
  </div>

  <div>
      <ion-item>
        <ion-label item-start>Eventos disponibles</ion-label>
        <ion-select interface="popover" placeholder="evento" [(ngModel)]="this.miEventoIndex">
            <ion-option *ngFor="let evento of this.listadoEventos; let i=index" [value] = "i" 
            (ionSelect)="seleccionaEvento(i)">{{evento}}</ion-option>
        </ion-select>
      </ion-item>
    </div>

  <br><br><br><br>
    <ion-item>
      <ion-label>{{myTime}}</ion-label>
    </ion-item>

  <button *ngIf="listadoEventos" type="submit" ion-button block (click)="botonFichar()">Fichar</button>
</ion-content>